@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="oauth/start">Try sending email using Graph API and OAuth 2.0</a>.</p>
</div>
